

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    El nombre de mi Padre es {{Padre.nombre}}<br>
    El apellido de mi Padre es {{Padre.apellido}}<br>
    Mi padre nacio el {{Padre.nacimiento}}<br>
    <br>
    El nombre de mi madre es {{Madre.nombre}}<br>
    El apellido de mi madre es {{Madre.apellido}}<br>
    Mi madre nacio el {{Madre.nacimiento}}<br>
    <br>
    El nombre de mi hermano es {{Hermano.nombre}}<br>
    El apellido de mi hermano es {{Hermano.apellido}}<br>
    Mi hermano nacio el {{Hermano.nacimiento}}<br>
</body>
</html>